footer.footer.bg-black
  .container
    p
      | Copyright © 2016&nbsp;
      img.hidden-xs(src='/favicon.ico', width='16px')
      | &nbsp;#{application}, TelerikAcademy |&nbsp;
      a(href='/github.com/...') Source
      | |&nbsp;
      a(href='/') Team 102
