footer.footer.bg-black
  .container
    p
      | Copyright © 2016&nbsp;
      img.hidden-xs(src='/favicon.png', width='16px')
      | &nbsp;#{application}, TelerikAcademy |&nbsp;
      a(href='https://github.com/Y-LyN-10/Guitar-Party') Source
      | |&nbsp;
      a(href='/') Team 102
