//- Behavioral Meta Data
meta(charset='utf-8')
meta(name='x-csrf-token', content=_csrf)
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title #{application} &middot; #{title}

//- Scripts
script(type="text/javascript" src="/lib/angular/angular.js")
include ../layouts/includes

//- Styles
link(rel='stylesheet', href='/css/main.min.css')
link(rel="stylesheet", href="/lib/toastr/toastr.css")
block styles

//- Fonts
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,500,700')

//- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
<!--[if lt IE 9]>
|   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
|   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
| <![endif]-->
